/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
}

app-root {
  display: block;
  height: 100%;
}

gridster {
  display: block;
  height: 100%;
  background-color: #ddbea8;
}
